.container {
    flex: 6;
    padding: 10px;
}

.title-bar {
    display: flex;
    flex: 6;
    justify-content: space-between;
}

.plus-btn {
    width: 35px;
    height: 35px;
    padding: 5px;
    border: none;
    background-color: white;
    cursor: pointer;
}

.plus-img {
    width: 35px;
    height: 35px;
    justify-content: flex-end;
}