.spo-container {
    padding: 10px;
    margin-top: 5px;
    width: 85%;
    padding-right: 0;
    margin-right: 0;
    display: flex;
    flex-direction: column;
}

.col_container {
    width:115%;
}

.title-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.plus-btn {
    width: 35px;
    height: 35px;
    padding: 5px;
    border: none;
    cursor: pointer;
    background-color: white;
}

.plus-img {
    width: 35px;
    height: 35px;
    transition: all 400ms ease-in-out;
    background-color: white;
}

.plus-img:hover {
    width: 37px;
    height: 37px;
}

.widget-main {
    display: flex;
    flex-direction: row;
    width: 500px;
}

.widget-content {
    display: flex;
    flex-direction: row;
    padding: 5px;
    border-radius: 10px;
    border-width: 1px;
    border-color: black;
    border-style: double;
    width: 350px;
    background-color: white;
    margin: 10px;
}

.widget-inner {
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}