.widget-container {
    /* flex: 6; */
}

.widget-main {
    display: flex;
    flex-direction: row;
    width: 100px;
}

.widget-inner {
    margin: 10px;
}

.widget-content {
    background-color: burlywood;
    margin: 10px;
    border-radius: 10px;
    border-width: 1px;
    border-color: black;
}