.topbar {
    width: 100%;
    height: 50px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 999;
}

.topbarWrapper {
    height: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topRight {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 2%;
}

.Top-pp {
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

.Top-Username {
    font-size: 17px;
}
.logo {
    margin-left: 10px;
    font-family: 'Reem Kufi', sans-serif;
    font-size: 29px;
    color: black;
}

.topLeft {
    display: flex;
    flex-direction: row;
}

.Up {
    background-color: white;
    color: #F35843;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 10px;
    margin-right: 10px;
    border-color: #F35843;
    align-items: center;
    justify-content: center;
}

.In {
    background-color: black;
    color: white;
    font-size: 14px;
    padding: 5px 20px;
    border-radius: 10px;
}

.SignUP-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    /* align-items: center; */
}

.loginContainer {
    padding: 30px;
    width: 100%;
    min-height: 300px;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.other-login {
    display: flex;
    flex-direction: row;
    margin-left: 3%;
}

.other-inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    border-radius: 10px;
    border: none;
    height: 40px;
    padding: 2%;
    margin-bottom: 10%;
    transition: all 400ms ease-in-out;
}

.other-inner:hover {
    background-color: #CFC6EE;
}
.other-logo {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.loginContainer label {
    color: black;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 5%;
    display: block;
    font-size: 16px;
    line-height: 1;
}

.loginContainer input {
    width: 80%;
    margin-left: 5%;
    border-radius: 10px;
    border-color: #8869EB;
    outline: none;
    font-size: 15px;
    padding: 10px;
    background-color: #F0F2F3;
    letter-spacing: 1px;
}

.btnContainer {
    margin-left: 8%;
    margin-top: 20px;
    width: 80%;
    height: 40px;
    border-radius: 15px;
    border: none;
    background-color: #8869EB;
    align-items: center;
    font-size: 14px;
    color: white;
    font-weight: normal;
    transition: all 400ms ease-in-out;
}

.btnContainer:hover {
    background-color: #A38BEF;
}

p span {
    text-align: right;
    color: #4A3A84;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-left: 5px;
    cursor: pointer;
    transition: all 400ms ease-in-out;
}

p span:hover {
    color: red;
}  