.following-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 10px;
    border-width: 1px;
    border-color: black;
    border-style: double;
    width: 140px;
    background-color: white;
    margin: 10px;
}

.singer-img {
    display: flex;
    justify-content: space-between;
}

.following-inner {
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.following-title {
    font-size: 15px;
}

.following_albumImg {
    width: 110px;
    height: 110px;
}

.minus-btn {
    width: 20px;
    height: 20px;
}