.explore-content {
    display: flex;
    flex-direction: row;
    padding: 5px;
    border-radius: 10px;
    -webkit-box-shadow: 0.3px 0.3px 11px 0px rgba(0,0,0,0.63);
    -moz-box-shadow: 0.3px 0.3px 11px 0px rgba(0,0,0,0.63);
    box-shadow: 0.3px 0.3px 11px 0px rgba(0,0,0,0.63);
    width: 300px;
    background-color: white;
    margin: 10px;
}

.beside-img {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.explore-inner {
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.explore-title {
    margin-right: 15px;
}

.explore_albumImg {
    width: 110px;
    height: 110px;
}

.minus-btn {
    width: 20px;
    height: 20px;
}

.play-bar {
    align-items: flex-end;
}
